/*Надстройка стилей*/
body {
margin-top:50px; 
margin-bottom:80px; 
color:#fff;
background: #191e26;
font-family: "proxima-nova",sans-serif;
font-size: 18px;
line-height: 1.2em;
}

h1 {
	font-weight: 900;
	font-size: 92px;
}
img {
	width: 100%;
	padding-bottom: 10px;
}