/*Надстройка стилей*/
body {
/*margin-top:50px; */
margin-bottom:80px; 
color:#fff;
background: #1B2129;
font-family: "proxima-nova",sans-serif;
font-size: 17px;
font-weight: 300;
line-height: 1.35em;
}

.row {
  padding: 0 20px 0;
}

p{
	margin: 0 0 9px;
	line-height: 1.3em;
  color: #fff;
}

label.error,
p.pod {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  opacity: 0.7;
}

label.error {
    white-space: nowrap;
}

p.knopa {
	font-size: 14px;
  line-height: 1.2em;
	font-weight: 400;
  opacity: 0.7;
  display:inline-block;
  padding:3px 12px 0;
  height: 37px;
}

p.podzagolovok{
	padding-top: 4px;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 10px;
  opacity: 0.7;
}

a{
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid;
	border-color: #808080;
	margin-bottom: 10px;
}

a:hover {
	text-decoration: none;
	color: #fff;
	border-color: #fff;
}

a:active {
	text-decoration: none;
	opacity: 0.9;
}

a:visited {
	text-decoration: none;
	opacity: 0,9;
	color: #fff;
}

.links_line {
	margin-right: 15px;
}

h1 {
	font-weight: 900;
	font-size: 96px;
	color: #fff; /*#ffcc00*/
	line-height: 1em;
}

h2{
	font-size: 36px;
	font-weight: 600;
}

h3 {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4em;
	margin:0 0 0 0;
}

img {
	width: 100%;
	margin: 0 0 10px;
}

img.noflex{
	width: auto;
}


.footer_last_line {
	font-size: 14px;
}

.social_links {
	margin-top: -3px;
}

.right {
	float: right;
}

.map {
	padding: 0px 15px 0;
}


.forma {
	height: 438px
	padding: 20px 15px 30px;
	line-height: 1.1em;
	background: rgb(15,41,85);
	background: -moz-linear-gradient(45deg,  rgb(15,41,85) 1%, rgb(62,4,89) 100%);
	background: -webkit-linear-gradient(45deg,  rgb(15,41,85) 1%,rgb(62,4,89) 100%);
	background: linear-gradient(45deg,  rgb(15,41,85) 1%,rgb(62,4,89) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f2955', endColorstr='#3e0459',GradientType=1 );

}

.btn {
  vertical-align: top;
}

.forma_bottom{
	padding: 25px 20px 0;
	height: 75px;
	font-size: 14px;
	background: rgb(9,25,52);
	background: -moz-linear-gradient(45deg,  rgb(9,25,52) 0%, rgb(30,9,54) 100%);
	background: -webkit-linear-gradient(45deg,  rgb(9,25,52) 0%,rgb(30,9,54) 100%);
	background: linear-gradient(45deg,  rgb(9,25,52) 0%,rgb(30,9,54) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#091934', endColorstr='#1e0936',GradientType=1 );

}

.new-select 
{
  overflow: hidden; 
  background: url(../img/dropdawn_arrow.png) no-repeat right;
  width: 240px;
  height: 34px;
}
.new-select option {
    color: #000!important;
}



@media (min-width: 992px) {
    .yarku_forma  {
          margin-top: -76px;
    }
    .forma {
      padding: 10px 20px 0px;
    }
    .residents_2 {
      display: none;
    }    
}

@media (max-width: 992px) {
    .yarku_forma  {
          display: none;
    }
    .forma {
      height: 520px;
      padding: 10px 20px 40px;
    }
    h1 {
      font-size: 62px;
      margin-bottom: 90px;
    }
    .residents {
      display: none;
    }    
}

@media (min-width: 1200px) {
    .yarku_forma  {
          margin-top: -192px;
    }
}



.title{ 

  margin-top:-40px
}

.form-horizontal .control-label {
    padding-top: 6px;
    margin-bottom: 0;
    text-align: left;

}

label {
  padding-right: 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form-horizontal .control-label {
    font-size: 16px;
    font-weight: 300;
    padding-top: 8px;
    padding-right: none;
    margin-bottom: 0;
    text-align: left;
}

.form-control {
	font-size: 16px;
  box-shadow: none;
  height: 30px;
  color: #fff;
  border:0px;
  border-radius: 0;
  -webkit-appearance: none;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  background-color: transparent;
  padding: 5px 1px 0;
  transition: none;
}

.form-control:focus {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(255,255,255,1);
  transition: none;

}


.btn {
  color: #fff;
  font-size: 16px;
  background-color: #ed1c24;
  border: none;
  border-radius: 1px;
  padding: 6px 30px 9px;
}

.btn:active {
  color: #fff;
  background-color: #ed1c24;
  border: none;
  border-radius: 1px;
  opacity: 0.8;
}

.btn:focus {
  color: #fff;
  background-color: #ed1c24;
  border: none;
  border-radius: 1px;
  opacity: 0.8;
}

.btn:hover {
  color: #fff;
  background-color: #ff6b2f;
  border: none;
  border-radius: 1px;
}


.resdis {
  padding-right: 25px;
  display: inline-block;
}


.big_foto {
	background-image: url(../img/yarku_1.jpg);
	margin-bottom: -225px;
	height: 92vh;
	background-position: center center;
	background-size: cover;
}

 .parimg-slider{
  overflow: hidden;
 }

.parimg-mirror{
  overflow: hidden;
}


.nexus {
  margin-top: 30px;
  margin-bottom: 160px;
  width: 100%;
}

.black {
background-color: #000;
padding:20px 25px 20px 25px;
margin-top: -40px;
margin-bottom: 10px;
}


/*Анкета*/

#feedback-form {
  max-width: 400px;
  padding: 2%;
  border-radius: 3px;
  background: #f1f1f1;
}
#feedback-form [required] {
  width: 100%;
  box-sizing: border-box;
  margin: 2px 0 2% 0;
  padding: 2%;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  box-shadow: 0 1px 2px -1px rgba(0,0,0,.2) inset, 0 0 transparent;
}
#feedback-form [required]:hover {
  border-color: #7eb4ea;
  box-shadow: 0 1px 2px -1px rgba(0,0,0,.2) inset, 0 0 transparent;
}
#feedback-form [required]:focus {
  outline: none;
  border-color: #7eb4ea;
  box-shadow: 0 1px 2px -1px rgba(0,0,0,.2) inset, 0 0 4px rgba(35,146,243,.5);
  transition: .2s linear;
}
#feedback-form [type="submit"] {
  padding: 2%;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.2) inset;
  background: #669acc;
  color: #fff;
}
#feedback-form [type="submit"]:hover {
  background: #5c90c2;
}
#feedback-form [type="submit"]:focus {
  box-shadow: 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}

/*-----------------------------------------------*/

/*Градиенты*/
#mask_purple {
    height: 1200px;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    width: 100%;
    background: transparent;
    background: -moz-radial-gradient(right, rgba(170, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    background: -webkit-radial-gradient(right, rgba(170, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    background: -o-radial-gradient(right, rgba(170, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    background: -ms-radial-gradient(right, rgba(170, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
}
#mask_green {
    height: 1200px;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    width: 100%;
    background: transparent;
    background: -moz-radial-gradient(left, rgba(0, 255, 0, 0.1) 0%, rgba(0, 0, 0, 0) 60%);
    background: -webkit-radial-gradient(left, rgba(0, 255, 0, 0.1) 0%, rgba(0, 0, 0, 0) 60%);
    background: -o-radial-gradient(left, rgba(0, 255, 0, 0.1) 0%, rgba(0, 0, 0, 0) 60%);
    background: -ms-radial-gradient(left, rgba(0, 255, 0, 0.1) 0%, rgba(0, 0, 0, 0) 60%);
    margin-top: 600px;
}
#mask_red {
    height: 1200px;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    width: 100%;
    background: transparent;
    background: -moz-radial-gradient(right, rgba(180, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    background: -webkit-radial-gradient(right, rgba(180, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    background: -o-radial-gradient(right, rgba(180, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    background: -ms-radial-gradient(right, rgba(180, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    margin-top: 1200px;
}
#mask_blue {
    height: 1200px;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    width: 100%;
    background: transparent;
    background: -moz-radial-gradient(left, rgba(0, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0) 60%);
    background: -webkit-radial-gradient(left, rgba(0, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0) 60%);
    background: -o-radial-gradient(left, rgba(0, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0) 60%);
    background: -ms-radial-gradient(left, rgba(0, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0) 60%);
    margin-top: 1800px;
}
#mask_deepblue {
    height: 1200px;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    width: 100%;
    background: transparent;
    background: -moz-radial-gradient(right, rgba(255, 0, 135, 0.15) 0%, rgba(0, 0, 0, 0) 60%);
    background: -webkit-radial-gradient(right, rgba(255, 0, 135, 0.15) 0%, rgba(0, 0, 0, 0) 60%);
    background: -o-radial-gradient(right, rgba(255, 0, 135, 0.15) 0%, rgba(0, 0, 0, 0) 60%);
    background: -ms-radial-gradient(right, rgba(255, 0, 135, 0.15) 0%, rgba(0, 0, 0, 0) 60%);
    margin-top: 2400px;
}
#mask_coldgreen {
    height: 1200px;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    width: 100%;
    background: transparent;
    background: -moz-radial-gradient(left, rgba(0, 150, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    background: -webkit-radial-gradient(left, rgba(0, 150, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    background: -o-radial-gradient(left, rgba(0, 150, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    background: -ms-radial-gradient(left, rgba(0, 150, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    margin-top: 3000px;
}
#mask_red_2 {
    height: 1200px;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    width: 100%;
    background: transparent;
    background: -moz-radial-gradient(right, rgba(170, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    background: -webkit-radial-gradient(right, rgba(170, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    background: -o-radial-gradient(right, rgba(170, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
    background: -ms-radial-gradient(right, rgba(170, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 60%);
	margin-top: 3600px;
	}

.msg-success  {
    display: none;
    background: #3c763d;
    color: #fff;
    padding: 15px 13px 18px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    z-index: 10;
}

/*.msg-success  {
    display: none;
    background: #3c763d;
    color: #fff;
    padding: 15px 13px 18px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    z-index: 10;
    margin: -155px 0 0;
}*/













