/*Надстройка стилей*/
body {
/*margin-top:50px; */
margin-bottom:80px; 
color:#fff;
background: #191e26;
font-family: "proxima-nova",sans-serif;
font-size: 18px;
font
line-height: 1.2em;
}

h1 {
	font-weight: 900;
	font-size: 92px;
	color: #ffcc00;
	line-height: 1em;
}
img {
	width: 100%;
}

.forma_bg{
	height: 428px;
	background: rgb(15,41,85);
	background: -moz-linear-gradient(45deg,  rgb(15,41,85) 1%, rgb(62,4,89) 100%);
	background: -webkit-linear-gradient(45deg,  rgb(15,41,85) 1%,rgb(62,4,89) 100%);
	background: linear-gradient(45deg,  rgb(15,41,85) 1%,rgb(62,4,89) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f2955', endColorstr='#3e0459',GradientType=1 );

}

img.forma_img {
width: 433px;
}

.form-horizontal .control-label {
    padding-top: 6px;
    margin-bottom: 0;
    text-align: left;

}

label {
	font-size: 16px;
	font-weight: 400; 

}

.form-control {
	font-size: 16px;

}

.big_foto {
	background-image: url(../img/yarku_1.png);
	margin-bottom: -265px;
	height: calc(100vh - 18rem);
	background-position: center center;
	background-size: cover;
	margin-right: 10vh;
}

.container-fluid {
	padding-left: 0px;


}